<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View info / add / update info</title>
    <style>
        #button{
            display: block;
            width: 50%;
            background-color: #04AA6D;
            padding: 14px 28px;
            
        }
        a{
        	text-decoration: none;
        }
        div{
            margin-left: 33%;
            margin-top: 6%;
        }
        *{
        	background-color: grey;
        }
    </style>
</head>
<body>
	<h1 style="color: red; text-align: center;">Welcome to Student Management System</h1>
    <div>
    	
    	<a href="/view">
        <input type="button" value="VIEW STUDENT DETAILS" id="button" ></a><br><br>
        <a href="/register">
    	<input type="button" value="ADD NEW STUDENT" id="button"></a><br><br>
    	<a href="/update">
    	<input type="button" value="UPDATE STUDENT DETAILS" id="button"></a><br><br>
    	<a href="/remove">
    	<input type="button" value="DELETE/REMOVE STUDENT" id="button"></a>
    </div>

</body>
</html>